name: Create and publish a Docker image

on:
  workflow_dispatch:
  push:
    branches: ['main', 'staging']
    tags: ['v*']

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          ref: ${{ github.ref }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Get tags
        id: tags
        env:
          IMAGE_NAME: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
        run: |
          echo "value<<EOF" >> $GITHUB_OUTPUT
          ./docker/get-docker-tags.sh "$(date -u +%F)" >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT
        shell: bash

      - name: Build Docker image (amd64, for smoke test)
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64
          context: .
          load: true
          file: ./Dockerfile
          tags: "${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:smoke-test"
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Smoke-test Docker image
        run: |
          for i in {1..3}; do
            timeout 15s docker run --rm ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:smoke-test --version && break || [ $i = 3 ] && exit 1
          done
        timeout-minutes: 1

      - name: Build and push multi-platform Docker image
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm/v7,linux/arm64/v8
          context: .
          push: true
          file: ./Dockerfile
          tags: "${{ steps.tags.outputs.value }}"
          cache-from: type=gha
          cache-to: type=gha,mode=max
